/* -font used roboto
-dark background color #1F2937 (HEADER AND FOOTER)
-hero main text ("This website is awesome")
48px #F9FAF8 weight:900
-hero secondary text, header link text
18px #E5E7EB
-header logo text
24px #F9FAF8
-button color, call to action background color
#3882F6
-information header text 
36px #1F2937 weight: 900

-quote section background color 
#E5E7EB
-quote text
36px light italic #1F2937 */

body{
    box-sizing: border-box;
    font-family: Roboto, sans-serif, Cambria;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
}

a{
    list-style: none;
    color: #E5E7EB;
    text-decoration: none;;
}

h1{
    margin: 0;
    padding: 0px;
}

p{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
/* ------HEADER PART------ */

.header{
    display: flex;
    justify-content: space-between;
    /* arriba derecha abajo izquierda */
    padding: 16px 300px 70px 300px;
    align-items: center;
    background-color: #1F2937 ;
    
}

.links-left{
    font-size: 24px;
    color:  #F9FAF8;
}

.links-right{
    color:  #F9FAF8;
    gap: 10px;
}

.header-image{
    width: 400px;
    height: 200px;
    flex-shrink: 2;
}

.header-awesome{
    display: flex;
    justify-content: space-between;
    /* arriba derecha abajo izquierda */
    padding: 16px 300px 0px 300px;
    align-items: center;
    background-color: #1F2937 ;
    gap:40px;
    padding-bottom:60px;
}

.text{
    width: 400px;
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    row-gap: 2px;
}

#website-text{

    font-size: 48px;
    color:#F9FAF8;
    font-weight:900;
}

#sign-button1{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border: 1px solid #3882F6;
    font-weight: bold;
    width: 80px;
    height: 30px;
}

/* ------SECOND PART------ */

.information-title{
    display: flex;
    justify-content: center;
}

#information-title{
    padding-top:40px;
    padding-bottom: 40px;
}

.information{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px 400px 100px 400px;
}

.card{
    flex-shrink: 5;
    text-align: center;
    

}

.card-image{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: 3px solid #3882F6;
}

.text-card{
    width: 100px;
}

/* ------THIRD PART------ */
/* -quote section background color 
#E5E7EB
-quote text
36px light italic #1F2937  */

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#E5E7EB;
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
    padding: 98px 400px 98px 400px;
}

#little-text{
    font-size: 24px;
    color: #1F2937;
    text-align: end;
    font-weight: bold;
}

/* ------FOURTH PART ------ */

.sign-up-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 98px 300px 98px 300px;

}

.sign-up-content{
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    width: auto;
    height: 150px;
    justify-content:left;
    align-items: center;
    padding-left: 100px;
    color: #F9FAF8;
    border-radius: 30px;
    gap: 450px;
    flex-wrap: nowrap;

}

#call-font{
    /* 36px light italic #1F2937 */
    font-size: 24px;
    font-weight:bold;
}

.button2{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border: 2px solid #E5E7EB ;
    font-size: 16px;
    font-weight: bold;
}

/* ------FIFTH PART------ */

.footer-container{
    display: flex;
    flex-direction: column;
    background-color: #1F2937 ;
    padding: 30px 300px 30px 300px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-weight: bold;
}